*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url("bg1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box1{
    width: 310px;
    margin: 20px ;
    border-bottom: 2px solid #fff;
}
.input-box2{
    width: 310px;
    margin: 20px ;
    border-bottom: 2px solid #fff;
}
.input-box1 label{
    position: absolute;
    top:27%;
    left:33px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-box2 label{
    position: absolute;
    top:47%;
    left:33px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box1 input{
    width:100%;
    height:50px;
    background: transparent;
    border:none;
    text-align: left;
    outline: none;
    font-size: 1em;
    color: #fff;
    
    margin-top: 6px;
}
.input-box1 input:hover{
    width:100%;
    height:50px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1.1em;
    color: #fff;
    margin-top: 16px;
    padding: 0 0px 0 0px;
}
.input-box1 .icon{
    position: absolute;
    right: 40px;
    margin-top: 20px;
    color: #fff;
    font-size: 1.3em;
    line-height: -37px;

}
.input-box2 input{
    width:100%;
    height:50px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color: #fff;
    margin-top: 7px;
    padding: 0 25px 0 0px;
}
.input-box2 input:hover{
    width:100%;
    height:50px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1.1em;
    color: #fff;
    margin-top: 16px;
    padding: 0 0px 0 0px;
}
.input-box2 .icon{
    position: absolute;
    right: 40px;
    margin-top: 20px;
    color: #fff;
    font-size: 1.3em;
    line-height: -37px;

}

.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input{
    margin-right: 3px;

}
.remember-forgot a{
    color: #fff;
    text-decoration: none;

}

.remember-forgot a:hover{
        text-decoration: underline;
}

button{

    width:100%;
    height:40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover{
    text-decoration: underline;
}